/* --------------------------------------
   Global styles
   -------------------------------------- */

body {
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Lato', 'Open Sans';
  background-color:#fcfcfc;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open sans';
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

   .navbar-brand {
     padding: 13px 15px;
   }

   .navbar-default {
     background-color: #404040;
     border-color: #EEE;
     color: black;
   }

   .navbar-default .navbar-nav > li > a {
     color:#f2f2f2;
     font-size: 1.1em;
     font-family: 'Lato', 'Open Sans';
   }

   .navbar-default .navbar-nav > li:focus,
   .navbar-default .navbar-nav > li:hover {
     color:white;
     background-color: #DE1B1B;
     transition: all 0.4s ease 0s;
   }


   .navbar-default .navbar-nav > .active > a,
   .navbar-default .navbar-nav > .active > a:focus,
   .navbar-default .navbar-nav > .active > a:hover {
     color:white;
     background-color: #b61616;
   }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
     background-color: #DE1B1B;
     outline: none !important;
     transition: 0.2s;
   }

    .navbar-default .navbar-toggle .icon-bar{
      background-color:#f2f2f2;
    }

/* --------------------------------------
    footer
    -------------------------------------- */

    footer {
      background-color: #404040;
      color:#eee;
      padding: 20px;
    }

    footer h6{
      font-size: 1em;
    }

    footer p{
      font-size: 0.9em;
    }

/* --------------------------------------
   MemberPanel
   -------------------------------------- */

   .members {
     margin-top: 80px;
     text-align: center;
   }

   .members img {
     margin-bottom:10px;
   }

   .members p {
     margin-bottom: 50px;
   }
